html, body {
	margin: 0;
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:100%;
}

#three-canvas{
	z-index: -1;
	width: 100%;
	height: 100%;
	grid-row-start: 1;
	grid-column-start: 1;
	background-color: white;
}


.content{
	z-index: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 75% 1fr;
	text-align: center;
}


.logo{
	margin: auto;
}

.logo img {
	width: 50vw;
	max-height: 40vh;
	max-width: 50vw;
}

.links{
	font-size: 4em;
	margin: auto;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}